@import url(http://fonts.googleapis.com/css?family=Raleway:400,200,300,100,900,500,600,700,800);

h1, h2, h3, h4, h5, h6, p, a {
    color: white;
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: black;
}

#thoughtworks {
    zoom: 15%;
}

#nygiants {
    zoom: 85%;
}